<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier></RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishDir>C:\Services\OmsLoanApi\</PublishDir>
  </PropertyGroup>
</Project>
