<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier></RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishDir>G:\Services\OmsLoan\</PublishDir>
    <ApplyMigrations>false</ApplyMigrations>
  </PropertyGroup>
  <Target Name="ApplyOmsLoanMigrations" AfterTargets="Publish" Condition="'$(ApplyMigrations)' == 'true'">
    <PropertyGroup>
      <_OmsLoanRepoRoot>$([System.IO.Path]::GetFullPath('$(MSBuildThisFileDirectory)..\..\..\..'))</_OmsLoanRepoRoot>
    </PropertyGroup>
    <Exec Command="pwsh -NoProfile -File &quot;$(_OmsLoanRepoRoot)\scripts\Invoke-OmsLoanMigration.ps1&quot;" />
  </Target>
</Project>
